*{
    margin: 0;
    padding: 0;
    background-color:navy;
}
.main{
    display: flex;
    flex-direction: row;
    height: 25vh;
}
.brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    color:yellow;
    background-color: 4B3869
    
    
}
.link{
    width: 200px;
    width: 20%;
    background-color: rgba(89, 0, 255, 0.582)
}
.brand h1{
    font-size: 60px;
    width: 100%;
    text-align: center;
    background-color: rgba(55, 8, 143, 0.582)
    
}
.brand p{
    margin-top: 30px;
    font-size: 20px;
    background-color:rgba(55, 8, 143, 0.582)
}
.but{
    width: 80%;
    height: 30%;
    margin-top: 40px;
    margin-right: 20px;
    color: white;
    background-color: rgb(56, 26, 6);
}
.container{
    margin: 50px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img{
    height: 300px;
    width: 250px;
    margin-right: 100px;
}
.name{
    color: white;
    font-weight: bolder;
    font-size: 25px;
}
.email{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}